<div class="logo">COSYPOS</div>
<ul nz-menu nzMode="inline">
  <li nz-menu-item class="container-block">
    <div class="container-block-menu">
      <span nz-icon nzType="file"></span>
      <span>Dashboard</span>
    </div>
  </li>
  <div class="container-menu-divider">
    <nz-divider> </nz-divider>
  </div>
  <li nz-menu-item  class="container-block">
    <div class="container-block-menu">
      <span nz-icon nzType="file"></span>
      <span>Menu</span>
    </div>
  </li>
  <div class="container-menu-divider">
    <nz-divider> </nz-divider>
  </div>
  <li nz-menu-item  class="container-block">
    <div class="container-block-menu">
      <span nz-icon nzType="file"></span>
      <span>Staff</span>
    </div>
  </li>
  <div class="container-menu-divider">
    <nz-divider> </nz-divider>
  </div>
  <li nz-menu-item  class="container-block">
    <div class="container-block-menu">
      <span nz-icon nzType="file"></span>
      <span>Inventario</span>
    </div>
  </li>
  <div class="container-menu-divider">
    <nz-divider> </nz-divider>
  </div>
  <li nz-menu-item  class="container-block">
    <div class="container-block-menu">
      <span nz-icon nzType="file"></span>
      <span>Reportes</span>
    </div>
  </li>
  <div class="container-menu-divider">
    <nz-divider> </nz-divider>
  </div>
  <li nz-menu-item  class="container-block">
    <div class="container-block-menu">
      <span nz-icon nzType="file"></span>
      <span>Pedidos/Mesas</span>
    </div>
  </li>
  <div class="container-menu-divider">
    <nz-divider> </nz-divider>
  </div>
  <li nz-menu-item  class="container-block">
    <div class="container-block-menu">
      <span nz-icon nzType="file"></span>
      <span>Reservas</span>
    </div>
  </li>
  <div class="container-menu-divider">
    <nz-divider> </nz-divider>
  </div>
</ul>
