nz-header {
  background: var(--color-light-black);
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

.footer-desktop {
  text-align: center;
  background: var(--color-light-black);
  color: var(--color-neutral-white);
}

.container-trigger{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.trigger {
  font-size: 20px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: var(--color-neutral-white);
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

nz-sider{
  background: var(--color-neutral-gray-cold);
  border-radius: 0px 30px 30px 0px;
}

.icons-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  color: var(--color-neutral-white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  width: 100%;
}

.container-header{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

/* Portrait phones and smaller */
@media (max-width: 750px) {
  .container-header{
    display: flex;
    margin-right: 20px;
    transition: 1s;
  }

  .icons-header{
    display: flex;
    font-size: 16px;
    justify-items: flex-end;
    transition: 1s;
  }
}

@media (max-width: 500px) {
  .icons-header{
    font-size: 14px;
    transition: 1s;
  }
}