<nz-layout style="min-height: 100vh">
  @if (width >= 768) {
    <!-- MENU PANTALLAS MAYORES O IGUALES A 768px -->
  <nz-sider 
    nzCollapsible 
    [(nzCollapsed)]="isCollapsed" 
    [nzTrigger]="null">
    <app-collapsed-menu 
      [isCollapsed]="isCollapsed">
    </app-collapsed-menu>
  </nz-sider>
  } @else {
    <!-- MENU RESPONSIVE -->
    <app-drawer-menu
      [isCollapsed]="isCollapsed"
      (hideMenuEmitter)="showMenu()">
    </app-drawer-menu>
  }
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="showMenu()"
      ></span>
    </nz-header>
    <nz-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="footer-desktop">
      <p>&copy; 2025 Nombre proyecto. Todos los derechos reservados.</p>
    </nz-footer>
  </nz-layout>
</nz-layout>
