/* Variables de color para SP*/
:root {
  /*Variantes de colores primarios*/
  --color-primary-green: #89AF83;
  --color-primary-green-light: #C2E9DD;
  --color-primary-green-dark: #50CD89;
  --color-primary-blue-ash: #19477c;
  --color-primary-red: #F60000;
  --color-primary-red-shaded: #AC0111;
  --color-primary-red-dark: #770012;
  --color-primary-red-light: #F7CAC8;
  --color-neutral-gray: #3D4142;
  --color-primary-gray: #777979;
  --color-neutral-gray-cold: #292C2D;
  --color-neutral-gray-medium: #444444;
  --color-neutral-gray-warm: #3D4142;
  --color-neutral-gray-light: #D9D9D9;
  --color-neutral-white: #FFFFFF;
  --color-primary-yellow: #FBD600;
  --color-secondary-orange-base: #EFAE30;
  --color-secondary-orange-dark: #866404;
  --color-secondary-orange-light: #FCF5CB;
  --color-secondary-green-base: #3F8600;
  --color-secondary-green-dark: #155724;
  --color-secondary-green-light: #D7F0D9;
  --color-neutral-black: #000000;


  /*Variantes de colores para notificaciones*/
  --color-notification-warning: var(--color-secondary-orange-base);
  --color-notification-warning-dark: var(--color-secondary-orange-dark);
  --color-notification-warning-light: var(--color-secondary-orange-light);
  --color-notification-success: var(--color-secondary-green-base);
  --color-notification-success-dark: var(--color-secondary-green-dark);
  --color-notification-success-light: var(--color-secondary-green-light);
  --color-notification-danger: var(--color-primary-red);
  --color-notification-danger-dark: #721C24;
  --color-notification-danger-light: var(--color-primary-red-light);
  --color-notification-info: var(--color-primary-blue);
  --color-notification-info-dark: #004085;
  --color-notification-info-light: #CFDCF3;

  /*Variantes de colores para soporte*/
  --color-link: var(--color-primary-blue);
  --color-support-express: #E56A17;
  --color-support-imported: #B50093;
  --color-support-question: #5426C2;

  /*Inputs*/
  --border-input-radius: 3px;

  /*Cajas de texto*/
  --border-box-radius: 3px;
  --border-box-style: double;
}

/* CLASES GENERALES */
.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ESTILOS FOOTHER */
.ant-layout-footer {
  padding: 14px 14px;
}

/* ESTILOS MENU DRAWER */
.ant-drawer-body {
  padding: 0;
}