<nz-drawer [nzClosable]="false" [nzVisible]="isCollapsed" [nzTitle]="titleMenu" nzPlacement="left"
  (nzOnClose)="closeMenu()" [nzWidth]="160">
  <ng-template #titleMenu>
    <div class="logo">COSYPOS</div>
  </ng-template>
  <ng-container *nzDrawerContent>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item class="container-block">
        <div class="container-block-menu">
          <span nz-icon nzType="product" nzTheme="outline"></span>
          <span>Dashboard</span>
        </div>
      </li>
      <div class="container-menu-divider">
        <nz-divider> </nz-divider>
      </div>
      <li nz-menu-item class="container-block">
        <div class="container-block-menu">
          <span nz-icon nzType="wallet" nzTheme="outline"></span>
          <span>Menu</span>
        </div>
      </li>
      <div class="container-menu-divider">
        <nz-divider> </nz-divider>
      </div>
      <li nz-menu-item class="container-block">
        <div class="container-block-menu">
          <span nz-icon nzType="team" nzTheme="outline"></span>
          <span>Staff</span>
        </div>
      </li>
      <div class="container-menu-divider">
        <nz-divider> </nz-divider>
      </div>
      <li nz-menu-item class="container-block">
        <div class="container-block-menu">
          <span nz-icon nzType="dropbox" nzTheme="outline"></span>
          <span>Inventario</span>
        </div>
      </li>
      <div class="container-menu-divider">
        <nz-divider> </nz-divider>
      </div>
      <li nz-menu-item class="container-block">
        <div class="container-block-menu">
          <span nz-icon nzType="file-search" nzTheme="outline"></span>
          <span>Reportes</span>
        </div>
      </li>
      <div class="container-menu-divider">
        <nz-divider> </nz-divider>
      </div>
      <li nz-menu-item class="container-block">
        <div class="container-block-menu">
          <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
          <span>Pedidos</span>
        </div>
      </li>
      <div class="container-menu-divider">
        <nz-divider> </nz-divider>
      </div>
      <li nz-menu-item class="container-block">
        <div class="container-block-menu">
          <span nz-icon nzType="calendar" nzTheme="outline"></span>
          <span>Reservas</span>
        </div>
      </li>
      <div class="container-menu-divider">
        <nz-divider> </nz-divider>
      </div>
    </ul>
  </ng-container>
</nz-drawer>